@flex-container-height: 30px;
@tooltip-color: #ffffff;

.flex-container {
    display: flex;
    height: @flex-container-height;

    mat-progress-bar {
        margin-top: @flex-container-height / 2;
    }

    .open-closed-icon {
        margin-right: 5px;
        height: @flex-container-height;
        width: @flex-container-height;
    }

    .expiration-date {
        height: @flex-container-height;
        line-height: @flex-container-height;
        white-space: nowrap;
        margin-left: 10px;
    }
}

.mat-tooltip.food-item-tooltip {
    background-color: red;
    font-size: 2em;
}
