<mat-card *ngFor="let item of foodItems" style="margin-bottom:10px;">
    <mat-card-title>
        {{item.name}}
    </mat-card-title>

    <mat-card-content>
        <div class="flex-container">
            <mat-icon svgIcon="{{item.openDate ? 'box_open' : 'box_closed'}}"
                      class="open-closed-icon"
                      matTooltip="{{item.openDate ? 'geöffnet' : 'verschlossen'}}"></mat-icon>
            <mat-progress-bar mode="determinate" value="25"></mat-progress-bar>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-icon-button>
            <mat-icon aria-label="Bearbeiten">edit</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon aria-label="Entfernen">clear</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
