<mat-card *ngFor="let item of foodItems" style="margin-bottom:10px;">
    <mat-card-title>
        {{item.name}}
    </mat-card-title>

    <mat-card-content>
        <div class="flex-container">
            <mat-icon
                svgIcon="{{item.openDate ? 'box_open' : 'box_closed'}}"
                class="open-closed-icon"
                [matTooltip]="getOpenClosedMessage(item.openDate)"
                matTooltipClass="food-item-tooltip"></mat-icon>
            <mat-progress-bar mode="determinate"
                              value="{{item.getRemainingPercent()}}"
                              color="{{item.getRemainingPercent() <= 75 ? 'primary' : 'warn'}}"
                              matTooltip="Mindestens haltbar bis {{item.expirationDate | date:'dd.MM.yyyy'}} noch {{item.remainingDays}} Tage"></mat-progress-bar>
            <span
                class="expiration-date">{{item.expirationDate | date:'dd.MM.yyyy'}}</span>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-icon-button>
            <mat-icon aria-label="Bearbeiten">edit</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon aria-label="Entfernen">clear</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
