<div class="button-container">
    <button mat-mini-fab color="primary" matTooltip="Essen hinzufügen"
            (click)="openFoodItemModal()">
        <mat-icon aria-label="Essen hinzufügen">add</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Alphabetisch sortieren">
        <mat-icon aria-label="Alphabetisch sortieren">sort</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Nach Ablaufdatum sortieren">
        <mat-icon aria-label="Nach Ablaufdatum sortieren">
            hourglass_empty
        </mat-icon>
    </button>
</div>

<mat-card *ngFor="let item of foodItems">
    <mat-card-title>
        {{item.name}}
        <button mat-icon-button class="remove-button"
                matTooltip="{{item.name}} entfernen" (click)="onRemoveItem(item)">
            <mat-icon aria-label="Entfernen">clear</mat-icon>
        </button>
    </mat-card-title>

    <mat-card-content>
        <div class="flex-container">
            <mat-icon
                svgIcon="{{item.openDate ? 'box_open' : 'box_closed'}}"
                class="open-closed-icon"
                [matTooltip]="getOpenClosedMessage(item.openDate)"
                matTooltipClass="food-item-tooltip"></mat-icon>

            <mat-progress-bar mode="determinate"
                              value="{{getRemainingPercent(item)}}"
                              color="{{getRemainingPercent(item) <= 75 ? 'primary' : 'warn'}}"
                              matTooltip="Mindestens haltbar bis {{item.expirationDate | date:'dd.MM.yyyy'}} noch {{item.remainingDays}} Tage"></mat-progress-bar>
            <span
                class="expiration-date">{{item.expirationDate | date:'dd.MM.yyyy'}}</span>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-icon-button matTooltip="{{item.name}} aufgegessen">
            <mat-icon aria-label="Aufgegessen">local_dining</mat-icon>
        </button>
        <button mat-icon-button matTooltip="{{item.name}} bearbeiten"
                (click)="openFoodItemModal(item)">
            <mat-icon aria-label="Bearbeiten">edit</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
