<mat-accordion multi="true" class="example-headers-align">
    <mat-expansion-panel *ngFor="let fridge of fridgeList">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{fridge.name}}
            </mat-panel-title>
            <mat-panel-description>
                {{fridge.description}}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="button-container">
            <button mat-fab color="primary" matTooltip="Essen hinzufügen">
                <mat-icon aria-label="Essen hinzufügen">add</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Alphabetisch sortieren">
                <mat-icon aria-label="Alphabetisch sortieren">sort</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Nach Ablaufdatum sortieren">
                <mat-icon aria-label="Nach Ablaufdatum sortieren">
                    hourglass_empty
                </mat-icon>
            </button>
        </div>

        <ng-template matExpansionPanelContent>
            <fm-item-list [fridgeId]="fridge.id"></fm-item-list>
        </ng-template>

    </mat-expansion-panel>
</mat-accordion>
<button mat-fab color="primary" matTooltip="Kühlschrank hinzufügen"
        class="add-fridge" (click)="openFridgeModal()">
    <mat-icon aria-label="Kühlschrank hinzufügen">add</mat-icon>
</button>

