<mat-accordion multi="true" class="example-headers-align">
    <mat-expansion-panel *ngFor="let fridge of fridgeList">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{fridge.name}}
            </mat-panel-title>
            <mat-panel-description>
                Beschreibung
            </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            <fm-item-list [fridgeId]="fridge.id"></fm-item-list>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>

